form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    margin-bottom: 5px;
}

input:last-child {
    margin-top: 15px;
    margin-bottom: 15px;
}

button {
    font-size: 24px;
}

.overview {
    display: flex;
}

.box {
    display: flex;
    flex-direction: column;
    padding: 2.5%;
}

h2 {
    font-size: 18px;
}
